# Ignore the third-party software that's shipped with Qsym; we don't use it anyway.
runtime/qsym_backend/qsym/third_party
# Similarly, we don't run its tests.
runtime/qsym_backend/qsym/tests

# Rust stores build artifacts in the tree
util/symcc_fuzzing_helper/target

# Some build utilities that we can ignore
TAGS
compile_commands.json

# The Dockerfile itself doesn't need to be copied
Dockerfile

# Do not include build directories
build/
cmake-*
